In [13]:
import pandas as pd
import numpy as np
import statistics as st

In [14]:
# Cria o conjuto de dados, o Dataframe
dici = {'Dia': ['D1','D2','D3','D4','D5','D6','D7','D8','D9','D10','D11','D12','D13','D14'], 'Temperatura':[71,69,80,83,70,65,64,72,75,68,81,85,72,75], 'Umidade':[91,70,90,86,96,70,65,90,70,80,75,85,95,80]}
df1 = pd.DataFrame(data=dici)
df1

    Dia  Temperatura  Umidade
0    D1           71       91
1    D2           69       70
2    D3           80       90
3    D4           83       86
4    D5           70       96
5    D6           65       70
6    D7           64       65
7    D8           72       90
8    D9           75       70
9   D10           68       80
10  D11           81       75
11  D12           85       85
12  D13           72       95
13  D14           75       80

In [15]:
# Divide em Quartis as colunas de temperatura e umidade
temperatura = np.quantile(df1['Temperatura'], [0.25,0.5,0.75], method='midpoint')
umidade = np.quantile(df1['Umidade'], [0.25,0.5,0.75], method='midpoint')
print(f'Quartis temperatura: {temperatura} || Quartis umidade: {umidade}')

Quartis temperatura: [69.5 72.  77.5] || Quartis umidade: [72.5 82.5 90. ]

In [16]:
# Define o IQR das colunas
iqr_temperatura = temperatura[-1] - temperatura[0]
iqr_umidade = umidade[-1] - umidade[0]
print(f'IQR temperatura: {iqr_temperatura} || IQR umidade: {iqr_umidade}')

IQR temperatura: 8.0 || IQR umidade: 17.5

In [17]:
# Adiciona os outliers a listas para armazená-los
outliers_temperatura = list()
outliers_umidade = list()
for i in df1['Temperatura']:
    if (i < (temperatura[0]-1.5*iqr_temperatura)) or (i > (temperatura[-1]+1.5*iqr_temperatura)):
        outliers_temperatura.append(i)

for j in df1['Umidade']:
    if (j < (umidade[0]-1.5*iqr_umidade)) or (j > (umidade[-1]+1.5*iqr_umidade)):
        outliers_umidade.append(j)

In [18]:
# Dá reposta da pergunta        
if (outliers_temperatura == []) and (outliers_umidade == []):
    print('Não há ouliers em ambos conjuntos')
elif (outliers_temperatura != []) and (outliers_umidade != []):
    print(f'Há outliers em ambos, os de temperatura são: {outliers_temperatura}; e os de umidade são: {outliers_umidade}.')
elif (outliers_temperatura == []) and (outliers_umidade != []):
    print(f'Não há ouliers em temperatura, mas há em umidade, eles são {outliers_umidade}.')
elif (outliers_temperatura != []) and (outliers_umidade == []):
    print(f'Não há ouliers em umidade, mas há em temperatura, eles são {outliers_temperatura}.')

Não há ouliers em ambos conjuntos